
.header{
    border-radius:20px;
    background-color:#00ffdd;
    display: flex;
    justify-content: space-between;
    }
    
.bodyimg{
    border-radius:23px;
    background-color:#FF3355
}

.grid {
border:2px solid #000000;
border-radius:50px;
display: flex;
justify-content: space-evenly;
flex-wrap:wrap;
}   

.item{
border-radius:20px;
background-color:#FFFFFF;
padding:30px;
margin:25px;
width:310px;
font-family:fantasy;
}

.menu{
display:flex;
justify-content:space-between;
background-color:#000000;
padding:50px;
font-size: 20px;
font-family:sans-serif;
font-weight:400;
color:#FFFFFF;
}

body{
    margin:0px;
    background-color:#00ff4c
}

p{
    text-align: center;
}